<h2 class="text-center"> Edit Game </h2>

<form action="/games/edit/<%= game.id %>?_method=PUT" class="edit-form" method="post">
    <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control form-control-sm" name="title" aria-describedby="title" placeholder="Enter Title" value="<%= game.title %>" required>
  </div>

  <div class="form-group">
      <label for="address" class="col-form-label">Address</label>
      <input type="text" class="form-control form-control-sm" name="address"  placeholder="Enter Address" value="<%= game.address%>" required>
  </div>

  <div class="form-group">
      <label for="zip" class= "col-form-label">ZIP</label>
      <input type="text" class="form-control form-control-sm" name="zip" value="<%= game.zip %>"  pattern="[0-9]{5}" title="Five digit zip" required>
  </div>


  <div class="form-group">
    <label for="locationType"> Location Type </label>
        <select class="custom-select d-inline-block edit-select" id="locationType" name="locationType" data-gameselect="<%= game.locationType %>" required>
          <option value="buisness">Buisness</option>
          <option value="home">Home</option>
        </select>
  </div>

  <div class="form-group">
      <label for="date" class="col-form-label"> Date </label>
      <input type="date" class="form-control form-control-sm" name="date" value= <%= dateformat(game.date,"yyyy-mm-dd" )%> >
  </div>

  <div class="form-group">
      <label for="startTime" class="col-form-label"> Start Time </label>
      <input type="time" class="form-control form-control-sm" name="startTime" value="<%= game.startTime %>">
  </div>

  <div class="form-group">
    <label for="number">Number of Players</label>
    <input type="number" min="1" max="10" class="form-control" name="number" value="<%= game.numberOfPlayers %>">
  </div>

    <div class="form-group">
      <select class="custom-select edit-select form-control" id="experience" name="experience" data-gameselect="<%= game.experience %>">
        <option> Choose Experience Level </option>
        <option value="novice">Novice</option>
        <option value="experienced">Experienced</option>
        <option value="veteran">Veteran</option>
      </select>
    </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"  name="description"> <%= game.description %></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>
