
<div class="row">
  <div class="col-12">

    <% if(games.length == 0) { %>


      <div class="card border-2 border-secondary">
          <div class="card-body">
            <h5 class="card-title"> No Games Added Yet! </h5>
            <p class="card-text">Add some games to see games listed here</p>
            <div class="row">
              <div class="col-md-12 col-lg-2">
                <a href="games/add" class="btn btn-primary btn-block"><i class="fas fa-plus"></i>
                Add New Game</a>
              </div>
            </div>
          </div>
      </div>




      <% } else { %>



         <% games.forEach(function(game){ %>

            <div class="card  border-2 border-secondary my-2">
              <div class="card-body">
                <h5 class="card-title"> <%= game.title %> </h5>
                <% var gameDate = fromIsoDate(game.date); %>
                <p class="card-text"> <%= dateformat(gameDate, "fullDate") %>  | <%= timeChange(game.startTime) %> </p>
                <p class="card-text m-2"><%= truncate(game.description, 250) %> </p>
                <% if (game.numberOfPlayers > 0) { %>
                <p class="card-text text-muted"> Seeking <%= game.numberOfPlayers %>
                <%= makePlural('Player', Number(game.numberOfPlayers)) %></p>
                <% } else { %>
                  <div class="alert alert-success">
                    <p class="card-text"> Game Full </p>
                  </div>
                <% } %>

                <div class="row">
                  <div class="col-md-12 col-lg-2">
                    <a href="games/show/<%= game.id %>" class="btn btn-primary my-2 btn-block"><i class="fas fa-book"></i>
                      See Details</a>
                  </div>
                </div>

              </div>
            </div>

            <% }) %>



    <% } %>

  </div>
</div>
