<!-- throwing error for game object on load?  -->
 <h1> <%= game.title %>  </h1>
<p> <%= game.description %> </p>

<% if(user && game.numberOfPlayers > 0) { %>
<form action="/games/player/<%= game.id %>" method="post">
  <input type="submit" value="Join Game" class="btn-success">
</form>
<% } %>

<!-- need to clean up this view logic/make into a drop down   -->
<% if(user) { %>
  <% game.players.forEach(function(player){
      if(player.playerUser == user.id ) { %>

          <div class="form-group">
            <form action="/users/playerReview/<%= game.id %>" method ="post">
              <label for="playerReviewBody"> Review Your Game Master </label>
              <textarea class="form-control" name="playerReviewBody"> </textarea>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <% } %>
  <% }) %>
<% } %>

<!-- create dropdown and loop through players in the game, clean up review space  -->

  <% game.players.forEach(function(player){ %>
    <%= player.playerUser.firstName %>
  <% }) %>


<p> Hosted by <%= game.host.firstName %>  <%= game.host.lastName %> </p>
