
<div class="row h-100">
 <!-- change order of layout here  -->
  <div class="col">
  </div>

  <div class="col-12  bg-light">
    <div class="game-info  d-block">
      <h1 class="floatleft"> <%= game.title %>  </h1>
      <% var gameDate = fromIsoDate(game.date); %>
      <span class="mb-2">  <%= dateformat(gameDate, "fullDate") %>  | <%= timeChange(game.startTime) %> </span>
      <div class="clearfix"></div>

      <p class="m-2"> <%= truncate(game.description, 500) %> </p>

      <div class="profile-image float-left ">
        <img src="<%= game.host.image %>" class="img-fluid rounded-circle" ></img>
      </div>

      <div class="rating float-left mr-2" data-rating= "<%= game.host.hostReviewAverage %>" data-id="<%= game.host.id %>">
          <div class="stars-outer">
          <div class="<%= game.host.id %> stars-inner"></div>
          </div>
      </div>

      <div class="float-left">
        <a href= "/users/profile/<%= game.host.id %>" class="plain-link">
        <span class="align-middle"> Hosted by <%= game.host.firstName %>  <%= game.host.lastName %></span>
        </a>
      </div>

      <div class="clearfix">
      </div>


    </div>

  <!-- don't display unless user is not already a player in the game  -->
    <% if(user && game.numberOfPlayers > 0 && game.host.id != user.id) { %>

    <form action="/games/player/<%= game.id %>"  method="post">
      <input type="submit" value="Join Game" class="btn btn-success float-left m-2">
    </form>

    <% } %>






   <% if(user) { %>
      <% game.players.forEach(function(player){
        if(player.playerUser.id == user.id) { %>
          <div class="dropdown d-inline-block  float-left m-2">
                <%- include ../partials/host_review.ejs %>
          </div>
        <% } else { %>
        <% } %>
      <% }) %>
  <% } %>






<% if(game.players.length > 0) { %>
 <!-- fix formating here so everything is on one line also fix width of elements and general look   -->
    <div class="dropdown float-left">
      <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="playersDropdown" data-toggle="dropdown">
        Player List
      </button>
      <div class="dropdown-menu  dropup" aria-labelledby="dropdownMenuButton">
        <% game.players.forEach(function(player){ %>

          <div class="dropdown-item player">

             <a href="/users/profile/<%= player.playerUser.id %>" class="player-list plain-link">
               <div class="profile-image float-left">
                 <img src="<%= player.playerUser.image %>" class="img-fluid rounded-circle" ></img>
                  <span class="player-name"><%= player.playerUser.firstName %>  <%= player.playerUser.lastName %> </span>
                  <div class="rating dropdown-item d-flex" data-rating= "<%= player.playerUser.playerReviewAverage%>" data-id="<%= player.playerUser.id %>">
                  </div>
                </div>
              </a>

              <div class="clearfix">
              </div>

              <div class="stars-outer">
                 <div class="<%= player.playerUser.id %> stars-inner"></div>
              </div>



                  <form action="/games/player_review/<%= game.id %>" method="post">
                    <div class="form-group">
                      <input type="hidden" name="player_id" value="<%= player.playerUser.id %>">
                      <input type="number"  class="form-control" name="playerReviewScore"  min= "1" max="5" placeholder="Rate 1 - 5">
                    </div>

                    <div class="form-group">
                      <label for="playerReviewBody">Player Review: </label>
                      <textarea class="form-control" name="playerReviewBody" placeholder= "Leave feedback for your players here."> </textarea>
                      <button class="btn btn-danger mt-2"> Submit </button>
                    </div>
                  </form>
                </div>



               </div>
        <% }) %>
      </div>
      <% } %>

    </div>
  </div>
  <div class="col">
  </div>
</div>
