<!-- throwing error for game object on load?  -->
<div class="row h-100">

  <div class="col">
  </div>
  <div class="col-12  bg-light">
    <div class="game-info  d-block">
      <h1> <%= game.title %>  </h1>
      <p> <%= game.description %> </p>

      <div class="d-flex">
        <img src="<%= game.host.image %>" class="img-fluid rounded-circle float-left" id="google-profile"></img>
         <span class="align-middle"> Hosted by <%= game.host.firstName %>  <%= game.host.lastName %></span>
      </div>


    </div>
    <% if(user && game.numberOfPlayers > 0) { %>

    <form action="/games/player/<%= game.id %>"  method="post">
      <input type="submit" value="Join Game" class="btn btn-success float-left m-2">
    </form>

    <% } %>

    <!-- need to clean up this view logic/make into a drop down   -->




   <% if(user) { %>
      <% game.players.forEach(function(player){
        if(player.playerUser.id == user.id) { %>
          <div class="dropdown d-inline-block  float-left m-2">
                <%- include ../partials/host_review.ejs %>
          </div>
        <% } else { %>
        <% } %>
      <% }) %>
  <% } %>







 <!-- fix formating here so everything is on one line also fix width of elements and general look   -->
    <div class="dropdown float-left m-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="playersDropdown" data-toggle="dropdown">
        Player List
      </button>
      <div class="dropdown-menu player-list dropup" aria-labelledby="dropdownMenuButton">
        <% game.players.forEach(function(player){ %>

             <div class="rating dropdown-item d-flex" data-rating= "<%= player.playerUser.playerReviewAverage%>" data-id="<%= player.playerUser.id %>">
               <a class="dropdown-item" href="#"> <img src="<%= player.playerUser.image %>" class="img-fluid rounded-circle" ></img>
                  <%= player.playerUser.firstName %>  <%= player.playerUser.lastName %> </a>

                  <div class="dropdown-item">
                    <form action="/games/player_review/<%= game.id %>" method="post">
                      <div class="form-group">
                        <input type="hidden" name="player_id" value="<%= player.playerUser.id %>">
                        <input type="number"  class="form-control" name="hostReviewScore"  min= "1" max="5" placeholder="Rate 1 - 5">
                      </div>



                      <div class="form-group">
                        <label for="playerReviewBody">Player Review: </label>
                        <textarea class="form-control" name="playerReviewBody" placeholder= "Leave feedback for your players here."> </textarea>
                        <button class="btn btn-danger"> Submit </button>
                      </div>
                    </div>
                   <div class="stars-outer d-inline-block">
                     <div class="<%= player.playerUser.id %> stars-inner"></div>
                   </div>



               </div>
        <% }) %>
      </div>
    </div>



  </div>
  <div class="col">
  </div>
</div>


<!--
so review stil happens here because I need to veryify all parties played with eachother, right?
so now we still need a way to make sure that they aren't reviewed more than once per game
so I think reviews must save the game ID as well so that we can cross reference dbs?  -->
