
<div class="row h-100">

  <div class="col">
  </div>

  <div class="col-12  bg-light">
    <div class="game-info  d-block">
      <h1 class="floatleft"> <%= game.title %>  </h1>

      <span class="float-right"> Game Starts At: <%= dateformat(game.date, "fullDate") %> | <%= timeChange(game.startTime) %> </span>

      <p> <%= game.description %> </p>

      <div class="profile-image float-left">
        <img src="<%= game.host.image %>" class="img-fluid rounded-circle" ></img>
      </div>

      <div class="rating float-left mr-2" data-rating= "<%= game.host.hostReviewAverage %>" data-id="<%= game.host.id %>">
          <div class="stars-outer">
          <div class="<%= game.host.id %> stars-inner"></div>
          </div>
      </div>

    <div class="float-left">
      <a href= "/users/profile/<%= game.host.id %>" class="plain-link">
      <span class="align-middle"> Hosted by <%= game.host.firstName %>  <%= game.host.lastName %></span>
      </a>
    </div>

    <div class="clearfix">
    </div>


    </div>

    <% if(user && game.numberOfPlayers > 0) { %>

    <form action="/games/player/<%= game.id %>"  method="post">
      <input type="submit" value="Join Game" class="btn btn-success float-left m-2">
    </form>

    <% } %>

    <!-- need to clean up this view logic/make into a drop down   -->




   <% if(user) { %>
      <% game.players.forEach(function(player){
        if(player.playerUser.id == user.id) { %>
          <div class="dropdown d-inline-block  float-left m-2">
                <%- include ../partials/host_review.ejs %>
          </div>
        <% } else { %>
        <% } %>
      <% }) %>
  <% } %>






<% if(game.players.length > 0) { %>
 <!-- fix formating here so everything is on one line also fix width of elements and general look   -->
    <div class="dropdown float-left m-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="playersDropdown" data-toggle="dropdown">
        Player List
      </button>
      <div class="dropdown-menu  dropup" aria-labelledby="dropdownMenuButton">
        <% game.players.forEach(function(player){ %>


               <a href="/users/profile/<%= player.playerUser.id %>" class="player-list plain-link">
                 <div class="profile-image float-left">
                   <img src="<%= player.playerUser.image %>" class="img-fluid rounded-circle" ></img>
                    <%= player.playerUser.firstName %>  <%= player.playerUser.lastName %>
                    <div class="rating dropdown-item d-flex" data-rating= "<%= player.playerUser.playerReviewAverage%>" data-id="<%= player.playerUser.id %>">
                    </div>
                  </div>
                </a>

                  <div class="dropdown-item">

                    <form action="/games/player_review/<%= game.id %>" method="post">
                      <div class="form-group">
                        <input type="hidden" name="player_id" value="<%= player.playerUser.id %>">
                        <input type="number"  class="form-control" name="playerReviewScore"  min= "1" max="5" placeholder="Rate 1 - 5">
                      </div>

                      <div class="form-group">
                        <label for="playerReviewBody">Player Review: </label>
                        <textarea class="form-control" name="playerReviewBody" placeholder= "Leave feedback for your players here."> </textarea>
                        <button class="btn btn-danger"> Submit </button>
                      </div>
                    </form>
                  </div>

                  <div class="stars-outer d-inline-block">
                     <div class="<%= player.playerUser.id %> stars-inner"></div>
                  </div>

               </div>
        <% }) %>
      </div>
      <% } %>

    </div>
  </div>
  <div class="col">
  </div>
</div>
