<!-- throwing error for game object on load?  -->
<div class="row h-100 align-items-center">
  <div class="col">
  </div>
  <div class="col-8 text-center bg-light mt-3">

    <h1> <%= game.title %>  </h1>
    <p> <%= game.description %> </p>

    <% if(user && game.numberOfPlayers > 0) { %>

    <form action="/games/player/<%= game.id %>" method="post">
      <input type="submit" value="Join Game" class="btn-success">
    </form>
    <% } %>

    <!-- need to clean up this view logic/make into a drop down   -->




    <% if(user) { %>
      <% game.players.forEach(function(player){
      if(player.playerUser.id == user.id) { %>
          <div class="dropdown">
            <form action="/games/host_review/<%= game.id %>" method="post">
              <div class="form-group">
                <input type="hostReview" id="rating-control" class="form-control" name="hostReviewScore" step="0.1" max="5" placeholder="Rate 1 - 5">
              </div>
              <div class="form-group">
                <label for="hostReviewBody">Host Review: </label>
                <textarea class="form-control" name="hostReviewBody" placeholder= "Leave feedback for your game master here."> </textarea>
                <button class="button-btn-submit"> Submit </button>
              </div>
          </div>
            <% } %>
    <% }) %>
  <% } %>



    <div class="dropdown mt-1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="playersDropdown" data-toggle="dropdown">
        Player List
      </button>
      <div class="dropdown-menu player-list dropup" aria-labelledby="dropdownMenuButton">
        <% game.players.forEach(function(player){ %>
          <a class="dropdown-item" href=#> <img src="<%= player.playerUser.image %>" class="img-fluid rounded-circle" id="google-profile"></img>
             <%= player.playerUser.firstName %>  <%= player.playerUser.lastName %> </a>
        <% }) %>
      </div>
    </div>




    <div class="h-25 w-25 d-inline-block mt-2">
      <img src="<%= game.host.image %>" class="img-fluid rounded-circle float-left" id="google-profile"></img>
      <p> Hosted by <%= game.host.firstName %>  <%= game.host.lastName %> </p>
    </div>

  </div>
  <div class="col">
  </div>
</div>
