<%- include ../partials/dashboard_nav.ejs %>



<div class="container">


  <div class="rating" data-rating= "<%= user.hostReviewAverage%>" data-id="<%= user.id %>">
    <span> Host Rating: <%= user.hostReviewAverage%> </span>
      <div class="stars-outer">
      <div class="<%= user.id %> stars-inner"></div>
      </div>
  </div>


    <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= user.id %>">
      <span> Player Rating: <%= user.playerReviewAverage%> </span>
        <div class="stars-outer">
        <div class="<%= user.id %> stars-inner"></div>
        </div>
    </div>






    <ul>
    <li> Need more info here </li>
    <li> most recent review as player, most recent host review as well <li>
    <li>Upcoming game should come up  </li>
    <li> maybe notification to leave reviews for played games? </li>

    </ul>
</div>
