<%- include ../partials/dashboard_nav.ejs %>



<div class="container">


  <div class="rating" data-rating= "<%= user.hostReviewAverage%>" data-id="<%= user.id %>">
    <span> Host Rating: </span>
      <div class="stars-outer">
      <div class="<%= user.id %> stars-inner"></div>
      </div>
  </div>


    <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= user.id %>">
      <span> Player Rating:  </span>
        <div class="stars-outer">
        <div class="<%= user.id %> stars-inner"></div>
        </div>
    </div>




</div>
