<%- include ../partials/dashboard_nav.ejs %>



<div class="container">

  <div class="profile-image float-left">
      <img src="<%= user.image %>" class="img-fluid rounded-circle" ></img>
  </div>
  <div class="float-left">
    <h3 class="align-middle"> <%= user.firstName %>  <%= user.lastName %></h3>
  </div>

  <div class="clearfix"></div>

  <div class="rating mt-2" data-rating= "<%= user.hostReviewAverage%>" data-id="<%= user.id %>">
    <span> Host Rating: </span>
      <div class="stars-outer">
      <div class="<%= user.id %> stars-inner"></div>
      </div>
  </div>

  <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= user.id %>">
      <span> Player Rating:  </span>
        <div class="stars-outer">
        <div class="<%= user.id %> stars-inner"></div>
        </div>
    </div>


  <% if(upcomingGame == null) { %>


        <div class="card border-2 border-secondary mt-4">
            <div class="card-body">
              <h5 class="card-title"> No Games Added Yet! </h5>
              <p class="card-text"> Your next game would be here if you joined or made one!</p>

              <div class="row">
                <div class="col-md-12 col-lg-2">
                  <a href="/games/add" class="btn btn-primary btn-block"><i class="fas fa-plus"></i>
                  Host A Game</a>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-2">
                  <a href="/games/map" class="btn btn-success btn-block"><i class="fas fa-plus"></i>
                  Join A Game</a>
                </div>
            </div>
                <!-- update links  -->
            </div>
        </div>

  <% } else { %>


      <div class="card  border-2 border-secondary mt-4">
        <div class="card-body">
          <h5 class="card-title"> <%= upcomingGame.title %> </h5>
          <% var gameDate = fromIsoDate(upcomingGame.date); %>
          <p class="card-text"> <%= dateformat(gameDate, "fullDate") %>  | <%= timeChange(upcomingGame.startTime) %> </p>
          <p class="card-text"><%= truncate(upcomingGame.description, 250) %> </p>
          <% if (upcomingGame.numberOfPlayers > 0) { %>

            <p class="card-text text-muted"> Seeking <%= upcomingGame.numberOfPlayers %>

            <%= makePlural('Player', Number(upcomingGame.numberOfPlayers)) %></p>

          <% } else { %>

            <div class="alert alert-success"> <p class="card-text">  Full </p>
            </div>

          <% } %>
          <div class="row">
            <div class="col-md-12 col-lg-2">
              <a href ="/games/show/<%=upcomingGame.id%>" class="btn btn-primary btn-block my-2"><i class="fas fa-book"></i> See Details</a>
            </div>
          </div>

            <% if (upcomingGame.host == user.id) { %>

              <div class="row">
                <div class="col-md-12 col-lg-2">
                  <a href="/games/edit/<%= upcomingGame.id%>" class="btn btn-dark  my-2 btn-block"> Edit Game </a>
                </div>
              </div>

              <form action="/games/<%= upcomingGame.id %>/?_method=DELETE" method="post" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <div class="row">
                  <div class="col-md-12 col-lg-2">
                    <button type="submit" class="btn btn-danger my-2  btn-block"><i class= "fas fa-trash"></i>
                    Delete </button>
                  </div>
                </div>
              </form>

            <% } else { %>
              <form action="/users/drop_player/?_method=DELETE" method="post" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="game_id" value="<%= upcomingGame.id %>">
                <div class="row">
                  <div class="col-md-12 col-lg-2">
                    <button type="submit" class="btn btn-danger  btn-block my-2"><i class= "fas fa-trash"></i>
                    Leave Game </button>
                  </div>
                </div>
              </form>
            <% } %>
        </div>
      </div>

  <% } %>

</div>
