<%- include ../partials/dashboard_nav.ejs %>



<div class="container">

  <div class="profile-image float-left">
      <img src="<%= user.image %>" class="img-fluid rounded-circle" ></img>
  </div>
  <div class="float-left">
    <h3 class="align-middle"> <%= user.firstName %>  <%= user.lastName %></h3>
  </div>

  <div class="clearfix"></div>

  <div class="rating mt-2" data-rating= "<%= user.hostReviewAverage%>" data-id="<%= user.id %>">
    <span> Host Rating: </span>
      <div class="stars-outer">
      <div class="<%= user.id %> stars-inner"></div>
      </div>
  </div>

  <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= user.id %>">
      <span> Player Rating:  </span>
        <div class="stars-outer">
        <div class="<%= user.id %> stars-inner"></div>
        </div>
    </div>


  <% if(upcomingGame == null) { %>


        <div class="card border-2 border-secondary mt-4">
            <div class="card-body">
              <h5 class="card-title"> No Games Added Yet! </h5>
              <p class="card-text"> Your next game would be here if you joined or made one!</p>
              <a href="/games/add" class="btn btn-primary"><i class="fas fa-plus"></i>
                Host A Game</a>
              <a href="/games/map" class="btn btn-success"><i class="fas fa-plus"></i>
                Join A Game</a>
                <!-- update links  -->
            </div>
        </div>

  <% } else { %>


      <div class="card  border-2 border-secondary mt-4">
        <div class="card-body">
          <h5 class="card-title"> <%= upcomingGame.title %> </h5>
          <% var gameDate = fromIsoDate(upcomingGame.date); %>
          <p class="card-text"> <%= dateformat(gameDate, "fullDate") %>  | <%= timeChange(upcomingGame.startTime) %> </p>
          <p class="card-text"><%= truncate(upcomingGame.description, 250) %> </p>
          <% if (upcomingGame.numberOfPlayers > 0) { %>
          <p class="card-text text-muted"> Seeking <%= upcomingGame.numberOfPlayers %>

            <%= makePlural('Player', Number(upcomingGame.numberOfPlayers)) %></p>

          <% } else { %>

            <div class="alert alert-success"> <p class="card-text">  Full </p>
            </div>

          <% } %>

            <a href="/games/show/<%=upcomingGame.id%>" class="btn btn-primary"><i class="fas fa-book"></i>
              See Details</a>
        </div>
      </div>

  <% } %>

</div>
