<div class="row h-100">
  <div class="col">
  </div>
  <div class="col-12">
    <% if(user.id == profileUser.id) { %>
      <%- include ../partials/dashboard_nav.ejs %>
    <% } %>

    <!-- change bg color  -->

    <div class="profile-image float-left">
        <img src="<%= profileUser.image %>" class="img-fluid rounded-circle" ></img>
    </div>

    <div class="profile-header float-left">
      <h1> <%= profileUser.firstName %> | <%= profileUser.lastName %>'s  Public Profile </h1>
    </div>

    <div class="clearfix">
    </div>

    <div class="profile-info">
      <p> <%= profileUser.profileInfo %> </p>
    </div>

    <div class="rating" data-rating= "<%= profileUser.hostReviewAverage%>" data-id="<%= profileUser.id %>">
      <span class> Host Rating: </span>
        <div class="stars-outer">
        <div class="<%= profileUser.id %> stars-inner"></div>
        </div>
    </div>

    <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= profileUser.id %>">
      <span> Player Rating:  </span>
        <div class="stars-outer">
        <div class="<%= profileUser.id %> stars-inner"></div>
        </div>
    </div>



      <% if(user.id == profileUser.id) { %>

        <a href="/users/profile/edit/<%= user.id %>" class="btn btn-danger"> Edit </a>

      <% } %>

    </div>

  <div class="col">
  </div>

</div>
