<div class="row h-100">
  <div class="col">
  </div>
  <div class="col-12   profile">

    <% if(user.id == profileUser.id) { %>
      <%- include ../partials/dashboard_nav.ejs %>
    <% } %>

    <!-- change bg color  -->

    <h1> <%= profileUser.firstName %> | <%= profileUser.lastName %>'s  Public Profile </h1>
    <p> put an image up in the header that hopefully doesn't look terrible </p>


    <div class="rating" data-rating= "<%= user.hostReviewAverage%>" data-id="<%= profileUser.id %>">
      <span class> Host Rating: <%= profileUser.hostReviewAverage%> </span>
        <div class="stars-outer">
        <div class="<%= profileUser.id %> stars-inner"></div>
        </div>
    </div>

    <div class="rating" data-rating= "<%= user.playerReviewAverage%>" data-id="<%= profileUser.id %>">
      <span> Player Rating: <%= profileUser.playerReviewAverage%> </span>
        <div class="stars-outer">
        <div class="<%= profileUser.id %> stars-inner"></div>
        </div>
    </div>

    <ul>
      <li> So make player list link here, and then make the host also link here </li>
      <li> This is the place text-centertion and what not. </li>

    </ul>

  </div>

      <% if(user.id == profileUser.id) { %>

        <button class="btn btn-danger"> Edit </button>

      <% } %> 


  <div class="col">
  </div>

</div>
