<%- include ../partials/dashboard_nav.ejs %>

<h1> <%= title %>   </h1>
<% games.forEach(function(game){ %>
  <div class="col-12">
    <div class="card card-inline">
      <div class="card-body">
        <h5 class="card-title"><%= game.title %> </h5>
        <p class="card-text"><%= game.description %> </p>
        <p class="card-text"> Seeking <%= game.numberOfPlayers %>
          players </p>
        <a href="/games/show/<%= game.id %>" class="btn btn-primary mb-2"><i class="fas fa-book"></i> Details</a>
        <% if (game.host == user.id) { %>
          <form action="/games/<%= game.id %>/?_method=DELETE" method="post" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger"><i class= "fas fa-trash"></i>
              Delete </button>
          </form>
        <% } else { %>
          <form action="/users/drop_player/?_method=DELETE" method="post" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="game_id" value="<%= game.id %>">
            <button type="submit" class="btn btn-danger"><i class= "fas fa-trash"></i>
              Leave Game </button>
          </form>

        <% } %>
      </div>
    </div>
  </div>
<% }) %>
 <!-- make a drop down that can populate the players in the game with their names and ratings  -->
